<div class="header-container d-flex">
    <div class="nav pb-2 pt-2">
        <a href="" class="nav-brand slide-up">
            <img src="../../assets/logo.svg" alt="logo">
        </a>
        <a href="" class="btn btn-secondary">Resources</a>
    </div>

    <div class="hero-section">
        <div class="header-intro">
            <p class="text-primary intro mb-3">
                Icons for interfaces, diagrams, presentations - whatever!
            </p>
            <h1 class="mb-4 headline ">
                Pick icons from popular icon libraries
            </h1>
            <a href="" class="btn btn-lg btn-primary mt-4">
                Explore icons
            </a>
        </div>
        <div class="header-graphics">
           
        </div>
    </div>
</div>